:root {
    --font: 'Neue Montreal', sans-serif;
    --negro: #0B0C0E;
    --gris-oscuro: #3C3D3E;
    --gris-claro: #C7D0D9;
    --blanco: #F4F7FA;
}

* {
    font-family: var(--font);
}

body {
    background: var(--blanco);
    margin: 0;
}

.wrapper {
    inline-size: 760px;
    /*ipad*/
    margin: auto;
}

main {
    background-image: url("../images/imagen-developer.png");
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 220px;
}


.titulo-programadora h1 {
    color: var(--blanco);
    font-style: normal;
    font-weight: 500;
    font-size: 80px;
    margin-block-start: 0px;
    margin-block-end: 20px;
    text-align: center;
}

.titulo-programadora h2 {
    color: var(--blanco);
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-align: center;
}

.titulo-header img {
    margin-block-start: 25px;
    margin-inline-start: 60px;
    margin-block-end: 0em;
}

.div-nav {
    margin-block-start: 25px;
}

nav a {
    color: var(--blanco);
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

nav {
    display: inline;
    margin-inline-end: 60px;
}

nav ul {
    display: inline;
    padding: 0;
}

nav li {
    display: inline;
    margin: 15px;
}

/* FIN HEADER */

.grid {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-block-end: 70px;
}

.div-skill {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    align-items: center;
}

.img-skill {
    display: grid;
    justify-content: center;
    align-items: center;
}

.div-skill img {
    margin-block-end: 40px;
}

.proyecto {
    display: grid;
    grid-template-columns: 80% 20%;
    margin-block-end: 10px;
}

.proyecto img {
    margin-block-start: 15px;
}

#sobre-mi {
    margin-block-start: 100px;
}

.titulo h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.descripcion-sobre-mi p {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 140%;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.grid h4 {
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 73px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.descripcion p {
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 140%;
    margin-block-start: 0em;
    margin-block-end: 20px;
}

.cliente {
    display: grid;
    grid-template-columns: 12% 88%;
    margin-block-end: 40px;
    align-content: center;
}

.datos-cliente h4 {
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    margin-block-start: 5px;
    margin-block-end: 0em;
}

.datos-cliente p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    margin-block-start: 0em;
    margin-block-end: 0em;
}


.datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block-start: 50px;
    margin-block-end: 50px;
}

.datos hr {
    width: 100%;
    float: left;
    width: 600px;
    margin-block-end: 30px;
}

.datos input,
.datos textarea {
    margin-block-start: 10px;
    width: 600px;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 140%;
    border-style: none;
    background-color: var(--blanco);
}

.datos textarea {
    width: 600px;
    margin-block-end: 30px;
}

textarea {
    resize: none;
}

.datos button,
.datos a {
    width: 600px;
}

form h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;
    text-align: center;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

label {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
}

.button {
    background-color: var(--negro);
    color: var(--blanco);
    border: 1px solid #0B0C0E;
    border-radius: 170px;
    padding: 24px 48px;
    gap: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    margin-block-end: 60px;
}

footer {
    background-color: var(--negro);
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

footer p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--blanco);
    margin-inline-start: 60px;
    margin-block-start: 0em;
    margin-block-end: 25px;
}

footer a {
    color: var(--blanco);
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-inline-end: 60px;
    margin-block-start: 0em;
}

.social {
    margin-block-end: 25px;
}

.img-proyecto img:hover {
    background: rgba(109, 0, 248, 0.08);
    opacity: 0.8;
    border-radius: 180px;
}

.login-boton {
    background-color: var(--blanco);
    color: var(--negro);
    border: 1px solid --blanco;
    border-radius: 170px;
    padding: 10px 28px;
    gap: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}


@media screen and (min-width: 1023px) {
    .wrapper {
        inline-size: 980px;
        margin: auto;
    }

    /* tablet */
}

@media screen and (min-width: 1280px) {
    .wrapper {
        inline-size: 1200px;
        margin: auto;
    }

    /* laptop */
}